header .formGroup {
  display: flex;
}
header .formGroup .searchList > select {
  height: 34px;
}
#search {
  display: flex;
}
#searchWrapper {
  margin-left: 10px;
  /* border: 1px solid red; */
}
#searchInput {
  outline: none;
  cursor: text;
  width: 500px;
  height: 34px;
  border: 1px solid #b8b8b8;
  border-bottom: 1px solid #ccc;
}
#searchSubmit {
  cursor: pointer;
  width: 75px;
  height: 34px;
  line-height: 34px;
  padding: 0;
  border: 0;
  background: none;
  background-color: #38f;
  color: white;
}
