header .searchWrapper {
  position: relative;
  display: flex;
  align-items: center;
}
header .searchWrapper #searchSelect {
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  position: absolute;
  border: none;
  margin-left: 1px;
}
header .searchWrapper #searchSelect:hover {
  cursor: pointer;
  background: rgb(250, 250, 250);
}
header .searchWrapper #searchSelect:focus {
  outline: 0;
}
header .searchWrapper .splitLine {
  width: 0;
  height: 34px;
  line-height: 34px;
  position: absolute;
  border-left: 1px solid #b8b8b8;
  left: 80px;
}
header .searchWrapper #search {
  display: flex;
}
header .searchWrapper #search #searchInput {
  padding: 0 0 0 90px;
  outline: none;
  cursor: text;
  width: 500px;
  height: 34px;
  border: 1px solid #b8b8b8;
  font-size: 16px;
}
header .searchWrapper #search #searchInput:hover {
  border-color: rgb(153, 153, 153);
}
header .searchWrapper #search #searchInput:focus {
  border-color: #4b94fc;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: rgb(201, 187, 187);
  overflow: hidden;
  position: absolute;
  height: 34px;
  margin-left: 480px;
  display: none;
  transition: 1s;
}
.icon.active {
  display: block;
}
.icon:hover {
  cursor: pointer;
  transition: 1s;
  transform: rotate(90deg);
}
header .searchWrapper #search #searchSubmit {
  cursor: pointer;
  width: 75px;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  padding: 0;
  border: 0;
  background: none;
  background-color: #38f;
  color: white;
}
header .searchWrapper #search #searchSubmit:hover {
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
  background: #3781f0;
}
